@font-face {
    font-family: 'FontMain';
    src: url(/public/assets/fonts/SignikaNegative-Bold.ttf);
}

html, body {
    height: 100%;
    margin: 0;
    /* overflow: hidden; */
    font-family: 'FontMain', sans-serif;
    transition: background 0.5s ease; 
    text-rendering: optimizeLegibility;
    text-decoration: none;
}

body {
    background: linear-gradient(135deg, #8B7ECE, #75D577);
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

input::placeholder {
    font-family: "FontMain";
}

input {
    font-family: "FontMain";
}
