.check-info-field-container {
    padding-top: 1vh;
    width: 40vw;
    height: 90vh;
    display: flex;
    flex-direction: column; 
    justify-content: start;
    align-items: center;
    gap: 2vh;
    background-color: white;
    box-shadow: 0vw 0vw 50vw rgb(95, 95, 97), inset 0 0 3vh gray;
    border-radius: 50px;
}

.check-image {
    width: 15vw;
}

.check-amount-container {
    font-size: 2.5vw;
    z-index: 0;
}

.check-info-field-currency-container {
    color: gray;
}