.check-take-off-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #8B7ECE, #75D577);
    gap: 30px;
}

.take-off-action-container {
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.take-off-check-info-container {
    padding: 60px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.take-off-check-info-first-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    margin-right: 300px;
}

.take-off-check-title {
    color: gray;
    font-size: 1.5vw;
}

.take-off-check-number {
    font-weight: 400;
    font-size: 3vw;
}

.take-off-check-balance {
    font-weight: 400;
    font-size: 3vw;
}

.horizontal-line {
    width: 90%;
    border: 2px solid rgb(230, 226, 226);
}

.take-off-check-info-second-part {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.take-off-info-container {
    padding: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: start;
}

.take-off-info-title {
    color: gray;
    font-size: 1.5vw;
}

.amount-input-field {
    border: none;
    font-size: 3vw;
    font-weight: bold;
    color: black;
    outline: none;
}

.take-off-action-button {
    width: 200px;
    height: 70px;
    border-radius: 20px;
    background-color: white;
    font-size: 2vw;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    user-select: none;
    transition: 1s;
}

.take-off-action-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}




