.user-menu-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}