.bank-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    margin: 80px 0 50px 0;
    transition: 1s;
}

.bank-logo-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.bank-logo-container img{
    width: 115px;
}

.bank-logo-name {
    font-weight: 400;
    font-size: 80px;
    letter-spacing: 3%;
    text-align: justify;
    color: white;
    user-select: none;
}