.admin-check-choice-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sending-admin-check-choice-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2%;
    padding: 2vh 3vw 2vh 3vw;
    transition: 1s;
}

.fail-admin-check-choice-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2%;
    padding: 2vh 3vw 2vh 3vw;
    transition: 1s;
    box-shadow: 0px 0px 100px rgb(176, 53, 53);
}

.success-admin-check-choice-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2%;
    padding: 2vh 3vw 2vh 3vw;
    transition: 1s;
    box-shadow: 0px 0px 100px rgb(39, 145, 44);
}

.check-choice-message {
    font-size: 5vw;
    margin-bottom: 2vh;
    color: rgb(77, 75, 75);
}