.user-menu-button {
    width: 300px;
    height: 150px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: 1s;

    font-weight: 400;
    font-size: 80px;
    letter-spacing: 3%;
    text-align: justify;
}

.user-menu-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}