.check-history-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 2vh;
    border-radius: 30px;
    margin-bottom: 100px;
}

.check-history-title-container {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 150px;
    font-size: 5vw;
    font-weight: 200;
}
