.choice-role-menu-item-container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
    align-items: center;
    background-color: rgb(255, 252, 252);
    border-radius: 20px;
    padding: 40px 20px;
    transition: 1s;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    user-select: none;
}

.choice-role-menu-item-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.choice-role-menu-item-container img {
    width: 60%;
}